{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
План операций
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method="post" action="">
    <div class="container">
        {{ logForm.hidden_tag() }}
        <div class="panel panel-success">
            <div class="panel-body">
                <center>
                    <h1>План операций</h1>
                    <p>{{logForm.departName()}}</p>
                    <p>Выберите дату: {{logForm.operDate(class='datepicker')}}</p>
                    <p>{{ logForm.remember.label() }} {{ logForm.remember() }}</p>
                    <input class="btn btn-primary" type="submit" value="Войти">
                </center>
            </div>
        </div>
    </div>
</form>
{% endblock %}